.projects {
  .project {
    background-color: #fff9f4;
    // height: 25rem;
    height: 28vw;
    border-radius: 20px;
  }
  .world-cup {
    margin-left: 5rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
  }
  .google-maps {
    margin-left: 1rem;
    margin-right: 5rem;
    background-color: #f5f9fa;
  }
  .pokedex {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 1rem;
  }
}
