@mixin flexCenter {
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  right: 0;
  top: 0;

  .container {
    position: relative;

    .btn {
      @include flexCenter();
      position: absolute;
      right: 0;
      width: 48px;
      height: 36px;
      border: none;
      cursor: pointer;
      border-radius: 20px;
      background-color: #fff;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 13px;
        width: 30px;
        height: 4px;
        background-color: #3a3847;
        border-radius: 5px;
        transition: all 0.3s ease;
      }

      &::before {
        top: 11px;
      }

      &::after {
        bottom: 11px;
      }
    }

    .close::before {
      transform: translateY(5px) rotateZ(45deg) scaleX(0.8) scale(0.7);
      background-color: #6e6b81;
    }
    .close::after {
      transform: translateY(-5px) rotateZ(-45deg) scaleX(0.8) scale(0.7);
      background-color: #6e6b81;
    }

    .expanded {
      width: 210px;
      height: 95vh;
      padding: 1rem;
      box-shadow: 0 0 6px 0px #949494;
      border-radius: 10px;
      transition: all 0.15s ease;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .collapsed {
      width: 40px;
      // height: 35px;
      height: 95vh;
      transition: all 0.15s ease;
    }

    .menu-content {
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
      height: 100%;
      flex-direction: column;
      width: 100vw;

      .top {
        display: flex;
        flex-direction: column;
        margin-top: 1.7rem;
      }
      .bottom {
        display: flex;
        flex-direction: column;
      }

      button {
        margin: 0.1rem 0.5rem;
        border: none;
        font-size: 1.3rem;
        background-color: transparent;
        text-align: left;
        color: #6e6b81;
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 0.5rem;
        cursor: pointer;

        .icon {
          font-size: 1rem;
        }

        &:hover {
          background-color: #3a3847;
          color: #fff;
        }
      }

      h4 {
        margin: 0.5rem;
        margin-left: 11px;
        font-weight: 500;
        font-size: 1.5rem;
        color: rgb(196, 196, 196);
        user-select: none;

        &:nth-child(1) {
          margin-top: 0;
        }
      }

      h3 {
        font-size: 1rem;
        font-weight: 500;
        margin-left: 15px;
      }

      .contact {
        margin-bottom: 1.5rem;
      }
    }
  }
}
