.hero {
  max-height: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;

  .hero-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.5rem;

    .hero-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      user-select: none;
      // position: relative;
      // top: 25px;
      width: 50%;

      h1 {
        // font-size: 3.5rem;
        font-size: 3.9vw;
        // margin-bottom: 0.3rem;
      }

      h4 {
        // font-size: 1.5rem;
        font-size: 1.7vw;
        font-weight: 500;
        color: rgb(94, 94, 94);
      }

      p {
        font-size: 1.1vw;
        margin-top: 2%;
        color: gray;
      }

      button {
        border: none;
        padding: 0.6rem 0;
        font-family: "Poppins";
        // max-width: 117px;
        width: 8vw;
        // height: 5vh;
        font-size: 0.9vw;
        color: #fff;
        border-radius: 10px;
        background-color: #3a3847;
        margin-top: 4%;
        cursor: pointer;
        border: 2px solid #3a3847;

        &:hover {
          background-color: #fff;
          color: #3a3847;
        }
      }
    }

    .hero-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;

      img {
        width: 100%;
        user-select: none;
        pointer-events: none;
      }
    }
  }
}
