.hero {
  margin: 0 4rem;
  height: 500px;

  span {
    color: rgb(145, 145, 145);
    font-family: "Yellowtail";
  }

  .hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;

    .hero-text {
      margin-left: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      user-select: none;

      h1 {
        font-size: 3.5rem;
        margin-bottom: 0.3rem;
      }

      h4 {
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(94, 94, 94);
      }

      p {
        margin-top: 1rem;
        color: gray;
      }

      button {
        border: none;
        padding: 0.6rem 0.9rem;
        font-family: "Poppins";
        max-width: 117px;
        color: #fff;
        border-radius: 10px;
        background-color: #3a3847;
        margin-top: 2rem;
        margin-bottom: 1rem;
        cursor: pointer;
        border: 2px solid #3a3847;

        &:hover {
          background-color: #fff;
          color: #3a3847;
        }
      }
    }

    .hero-img {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        user-select: none;
        pointer-events: none;
      }
    }
  }
}
