.contact-section {
  margin: 3rem 0;
  .form-container {
    height: 30vw;
    border-radius: 20px;
    overflow: hidden;
    background-color: #eff5f7;
    margin: 0 3rem;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -9;

    .form-text {
      width: 30%;
      margin-left: 4rem;

      h2 {
        font-size: 3vw;
        color: #3a3847;
      }

      p {
        font-size: 1.5vw;
        color: #4b4958;
      }
    }

    .form-div {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .form-cont {
        background-color: #fff;
        border-radius: 10px;
        height: 26vw;
        width: 93%;
      }
    }
  }
}
