@import "./Components/Menu/menu.scss";
@import "./Components/Hero/hero.scss";
@import "./Components/Nav/nav.scss";
@import "./Components/Projects/projects.scss";
@import "./Components/Skills/skills.scss";
@import "./Components/Contact/contact.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  body {
    font-family: "Poppins", sans-serif;
  }

  .App {
    position: relative;
    margin: 1rem 2rem;

    .tag {
      color: rgb(161, 161, 161);
      font-family: "Kalam";
      user-select: none;
    }
    .project-tag {
      margin: 1rem 0;
    }
    .contact-tag {
      margin: 1rem 0;
    }

    .copyright-div {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .copyright {
        color: #ff754e;
        font-weight: 700;
        font-size: 1.4rem;
      }

      .cvEmail {
        margin-right: 25px;

        .cv-email {
          font-size: 0.8rem;
          margin-left: 20px;
          position: relative;
          bottom: 2px;
          cursor: pointer;
          color: rgb(94, 94, 94);

          &:hover {
            color: #000;
          }
        }
        .divider {
          position: relative;
          bottom: 1px;
          font-size: 0.8rem;
          margin-left: 5px;
          color: rgb(126, 126, 126);
        }
        .mail {
          margin-left: 5px;
        }
      }
    }
  }
}
