@import "./Components/Menu/menu.scss";
@import "./Components/Hero/hero.scss";
@import "./Components/Nav/nav.scss";
@import "./Components/Projects/projects.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  body {
    font-family: "Poppins", sans-serif;
  }

  .App {
    position: relative;
    margin: 1rem 2rem;

    .tag {
      color: rgb(161, 161, 161);
      font-family: "Kalam";
      user-select: none;
    }
    .project-tag {
      margin: 1rem 0;
    }
  }
}
