nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: relative;
  position: fixed;
  height: 3.5rem;
  background-color: #fff;
  top: 0;
  user-select: none;
  width: 100vw;
  // margin: 0 2rem;
  padding: 0 2rem;
  z-index: 10;

  // .hidden {
  //   display: hidden;
  // }

  // .shown {
  //   display: flex;
  // }

  .nav-container {
    display: flex;
    align-items: center;

    .logo {
      color: #ff754e;
      font-weight: 700;
      font-size: 2rem;
      cursor: pointer;
    }

    .cv-email {
      font-size: 0.8rem;
      margin-left: 20px;
      position: relative;
      top: 6px;
      cursor: pointer;
      color: rgb(94, 94, 94);

      &:hover {
        color: #000;
      }
    }
    .divider {
      font-size: 0.8rem;
      position: relative;
      top: 6px;
      margin-left: 5px;
      color: rgb(126, 126, 126);
    }
    .mail {
      margin-left: 5px;
    }
  }
}

.help {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
