nav {
  @include flexCenter();
  position: relative;
  top: -10px;
  user-select: none;

  .logo {
    color: #ff754e;
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
  }

  .cv-email {
    font-size: 0.8rem;
    margin-left: 20px;
    position: relative;
    top: 6px;
    cursor: pointer;
    color: rgb(94, 94, 94);

    &:hover {
      color: #000;
    }
  }
  .divider {
    font-size: 0.8rem;
    position: relative;
    top: 6px;
    margin-left: 5px;
    color: rgb(126, 126, 126);
  }
  .mail {
    margin-left: 5px;
  }
}
