.toggle-button {
  padding: 15px 40px;
  background-color: #fff;
  position: relative;
  // color: #2b2936;
  color: #3a3847;
  cursor: pointer;
  font-weight: 600;
  border: none;
}

.toggle-button::before,
.toggle-button::after {
  border: 2px solid #3a3847;
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
}

.toggle-button:hover::after {
  transform: translate(-5px, -5px);
}
.toggle-button:hover::before {
  transform: translate(5px, 5px);
}
